*
{
	margin: 0;
	padding: 0;
	font-family: monospace;
	user-select: none;
}

body
{
	background-image: url(Many-books-library-blurry_1920x1080.jpg);
}

#input-output-section
{
	width: 520px;
	height: 100vh;
	display: flex;
	justify-content: space-evenly;
	flex: 300 1 row;
	margin: 0 auto;
	align-items: center;
}

input
{
	width: 228px;
	height: 48px;
	border-radius: 10px;
	padding-left: 10px;
}

select, button
{
	width: 240px;
	height: 50px;
	border-radius: 10px;
}

input, select, option, button
{
	background: #fff;
	transition: letter-spacing ease-out 0.5s;
	text-align: center;
	border-width: 1px;
	border-color: #191919;
	margin-bottom: 2px;
	font-size: 1.1em;
}

#input-section, #output-section
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 210px;
}

#input-user-text:hover, select:hover, option:hover, button:hover
{
	background: #fff;
	letter-spacing: 2px;
}

#input-user-text:focus, select:focus, option:focus, button:focus
{
	background: #fff;
	letter-spacing: 0;
}

#input-output
{
	letter-spacing: 0;
	text-align: center;
}

#output-translated-text
{
	letter-spacing: 0;
	text-align: center;
	height: 50px;
	width: 240px;
	border-color: #191919;
	user-select: none;
}

.response
{
    background: #fff;
    color: #000;
    transition: background ease-out 0.3s;
    cursor: pointer;
}

.response:hover
{
    background: #191919;
    color: #aaa;
}

