<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/snp-stylesheets.css">
    </head>
    <body>
        <section id="input-output-section">
            <div id="input-section">
                <form action="/translate" method="post">
                    <div>
                        <input type="text" name="word" placeholder="Type text">
                    </div>
                    <div>
                        <select name="from" required>
                            <option disabled selected>from...</option>
                            <option value="ru">Russian</option>
                            <option value="en">English</option>
                            <option value="fr">French</option>
                        </select>
                        <select name="to" required>
                            <option disabled selected>to...</option>
                            <option value="en">English</option>
                            <option value="ru">Russian</option>
                            <option value="fr">French</option>
                        </select>
                    </div>
                    <div>
                        <button type="submit" formmethod="post">Перевести</button>
                    </div>
                </form>
            </div>
            <div id="output-section">
                <input disabled type="text" name="output" id="output" placeholder="Output">
            </div>
        </section>
    </body>
</html>